{% extends "base.html.twig" %}

{% block title %}AppBundle:index:index{% endblock %}

{% block body %}
    <header><img style="height: 40px" src="https://i.imgur.com/zqpwkLQ.png"/><a href="/profile"
                                                                                style="margin-left: 250px"><img
                    style="width: 50px;border-radius: 50%"
                    src="{{ vich_uploader_asset(user, 'imageFile') }}">{{ user.username }}</a><a href="/logout"
                                                                                                 style="margin-left: 100px">Выход</a>{% if is_granted("ROLE_ADMIN") %}
        <a style="margin-left: 30px" href="/admin">Админ</a>
        {% endif %}</header>
    <div class="parentList">
        <h3 style="margin-left: 40%">Лента</h3>
        {% for allusers in users %}
            {% for AllPosts in allusers.posts %}
                <div class="list" style="margin-top: 10px">
                    <a href="{{ path('dataUser',{'id' : AllPosts.author.id}) }}">
                        <img style="width: 50px;border-radius: 50px"
                             src="{{ vich_uploader_asset(AllPosts.author, 'imageFile') }}">
                        {{ AllPosts.author }}</a><br>
                    {% if app.user.id != AllPosts.author.id %}<a class="followhref"
                                                               href="{{ path('follow',{'id':AllPosts.author.id}) }}">
                        {% if AllPosts.author.hasFollover(app.user) %}
                            <button class="followbtn">Отписатся</button>{% else %}
                            <button class="followbtn">Подписатся</button>{% endif %}
                        </a>{% endif %}
                    <hr>
                    <img style="width: 100%" src="{{ vich_uploader_asset(AllPosts, 'imageFile') }}">
                    <p>Описание: {{ AllPosts.description }}</p>
                    <a style="color: darkred" href="{{ path('liked',{'id' : AllPosts.id}) }}">Нравится
                        : {{ AllPosts.likers.count }}</a>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
{% block javascripts %}

{% endblock %}


