{% extends "@FOSUser/layout.html.twig" %}
{% block fos_user_content %}{% trans_default_domain 'FOSUserBundle' %}
    {% trans_default_domain 'FOSUserBundle' %}
    <div id="forRegister"><img style="width: 100%" src="{{ asset('imageIcon/images.jpeg') }}"><h3><p>Зарегистрируйтесь, чтобы смотреть фото и видео ваших </p><p id="frend">друзей.</p></h3>
        <div id="inRegister">
            <div  id="f">
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'registration.submit'|trans }}"/>
            </div>
            {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div class="haveLogin">
        <p ID="akkaunt">Есть аккаунт? <a style="color: dodgerblue" href="/login">Вход</a></p>
    </div>
{% endblock fos_user_content %}