* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #eee;
    /*background-image: url(../imageIcon/gradient-red-linear-violet-1920x1080-c2-ff0000-aa1ff5-a-45-f-14.svg);*/
}

#wrapper {
    width: 500px;
    height: 50%;
    overflow: hidden;
    border: 0px solid #000;
    margin: 50px auto;
    padding: 10px;
}

.main-content {
    width: 250px;
    height: 40%;
    margin: 10px auto;
    background-color: #fff;
    border: 2px solid #e6e6e6;
    padding: 40px 50px;
}

.header {
    border: 0px solid #000;
    margin-bottom: 5px;
}

.header img {
    height: 50px;
    width: 175px;
    margin: auto;
    position: relative;
    left: 40px;
}

.input-1,
.input-2 {
    width: 100%;
    margin-bottom: 5px;
    padding: 8px 12px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    border-radius: 3px;
}

.overlap-text {
    position: relative;
}

.overlap-text a {
    position: absolute;
    top: 8px;
    right: 10px;
    color: #003569;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Overpass Mono', monospace;
    letter-spacing: -1px;
}

.btn {
    width: 100%;
    background-color: #3897f0;
    border: 1px solid #3897f0;
    padding: 5px 12px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
}

.sub-content {
    width: 250px;
    height: 40%;
    margin: 10px auto;
    border: 1px solid #e6e6e6;
    padding: 20px 50px;
    background-color: #fff;
}

.s-part {
    text-align: center;
    font-family: 'Overpass Mono', monospace;
    word-spacing: -3px;
    letter-spacing: -2px;
    font-weight: normal;
}

.s-part a {
    text-decoration: none;
    cursor: pointer;
    color: #3897f0;
    font-family: 'Overpass Mono', monospace;
    word-spacing: -3px;
    letter-spacing: -2px;
    font-weight: normal;
}

input:focus {
    background-color: yellow;
}
#inRegister{
    width: 10%;
    margin-left: 15%;
}
#forRegister{
    margin:5% 38% 10px;
    background: #FFFFFF;
    width: 20%;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}
#frend{
    margin-left: 30%;
}
.haveLogin{
    margin-left: 38%;
    background: #FFFFFF;
    padding: 40px;
    width: 17.03%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}
#akkaunt{
    margin-left: 20%;
}
a{
    text-decoration: none;
    color: black;
}
header{

    padding: 15px ;
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}
header img{
    margin-left: 20%;
    font-size: 20px;
}
.boardUser{
    margin-left: 80%;
    font-size: 20px;
    border: solid 1px gray;
}
.list{
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    padding: 10px;
}
.parentList{
    width: 40%;
    margin-left: 27%;
    padding: 30px;
}
.profileHeader{
    display: inline-flex;
}
.profileHeader p{
    padding: 40px;
    font-size: 40px;
}
.description{
    border: 2px;
}
.sendPost{
    width: 100%;
    background-color: #3897f0;
    border: 1px solid #3897f0;
    padding: 5px 12px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
}
.followbtn{
    width: 30%;
    background-color: #3897f0;
    border: 1px solid #3897f0;
    padding: 5px 12px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;

}
.followerData{
    display: flex;
    margin-left: 30%;
    padding: 50px;

}
.followerData h3{
    margin-left: 7%;
}