{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}{% trans_default_domain 'FOSUserBundle' %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}

    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Overpass+Mono" rel="stylesheet">

    <div id="wrapper">
        <div class="main-content">
            <div class="header">
                <img src="{{ asset('imageIcon/images.jpeg') }}">
            </div>
            <div class="l-part">
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Username" class="input-1" />
                <div class="overlap-text">
                    <input type="password" id="password" name="_password" required="required" placeholder="Password" class="input-2" />
                    <a href="#">Forgot?</a>
                </div>
                <input type="submit" id="_submit" class="btn" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            </div>
        </div>
        <div class="sub-content">
            <div class="s-part">
                Еще нет аккаунта?<a href="/register"> Зарегистрируйтесь</a>
            </div>
        </div>
    </div>
    </form>
{% endblock fos_user_content %}
