{% extends "base.html.twig" %}

{% block title %}asd{% endblock %}


{% block body %}
    <h3 id="h3">я подписан на этих людей</h3>

    {% for followers in users %}
        <a href="{{ path('dataUser',{'id' : followers.id}) }}">
            <img style="width: 50px;border-radius: 50%" src="{{ vich_uploader_asset(followers, 'imageFile') }}"></a>
        <br>
    {% endfor %}
{% endblock %}
{% block javascripts %}
<script>
    $(function () {
        let Counter = 0;
        setInterval(data, 100);
        function data(){
            if(Counter <= 30) {
                Counter++;
                $('#h3').html("кликните на пользователя чтобы переити на его страницу").css("color","red")

            } else {
                $('#h3').html('я подписан на этих людей').css('color',"green");
                clearInterval(setInterval());
            }
        }
    });
</script>
{% endblock %}
