{% extends "base.html.twig" %}
{% block title %}{{ user.username }}{% endblock %}
{% block body %}
    <header><img style="height: 40px" src="https://i.imgur.com/zqpwkLQ.png"/></header>
    <div class="profileHeader">
        <img style="border-radius: 50%;width: 150px;height: 150px" src="{{ vich_uploader_asset(user, 'imageFile') }}">
        <p> {{ user.username }}</p>
    </div>
    <div style="display: inline-block">
        <div class="followerData" style="margin-left: 200%">
            <h3>Подписки {{ user.follovedUsers.count }}</h3>
            <h3>Подписчики {{ user.follovers.count }}</h3></div>
        {% if app.user.id != user.id %}
        <a class="followhref" style="margin-left: 220%" href="{{ path('follow',{'id':user.id}) }}">
            {% if user.hasFollover(app.user) %}
                <button class="followbtn">Отписатся</button>{% else %}
                <button class="followbtn">Подписатся</button>{% endif %}
        </a>{% endif %}</div>
    <h3 style="margin-left: 40%">Публикации</h3>
    <hr>
    <br class="profileImages" style="display: flex;width: 100%">
    {% for userPost in user.posts %}
        <div style="display: inline-block;background: #FFFFFF;padding: 10px;margin: 10px">
            <img style="width: 150px;height: 150px" src="{{ vich_uploader_asset(userPost, 'imageFile') }}">
            <br>Описание: {{ userPost.description }}
            {% if app.user.id != user.id %}
            <a style="color: darkred" href="{{ path('liked',{'id' : userPost.id}) }}">Нравится
                : {{ userPost.likers.count }}</a>{% else %}<p style="color: darkred">Нравится
                : {{ userPost.likers.count }}</p>{% endif %}
        </div>
    {% endfor %}
    </div>
{% endblock %}