{% extends "base.html.twig" %}

{% block title %}Профиль{% endblock %}

{% block body %}
    <header><img style="height: 40px" src="https://i.imgur.com/zqpwkLQ.png"/></header>
    <h2 style="margin-left: 45%">Мой профиль</h2>
    <div class="profileHeader">
        <img style="border-radius: 50%;width: 150px;height: 150px" src="{{ vich_uploader_asset(user, 'imageFile') }}">
        <p> {{ user.username }}</p>
        <div class="followerData">
        <h3><a href="/users"> <button class="btn">Подписки</button></a> {{ user.follovedUsers.count }}</h3>
            <h3><a href="/my_followers"> <button class="btn">Подписчики</button></a> {{ user.follovers.count }}</h3></div>
        {{ form(form_post) }}
    </div>
    <h3 style="margin-left: 40%">Публикации</h3>
    <hr>
    <br class="profileImages" style="display: flex;width: 100%">
    {% for userPost in user.posts %}
        <div style="display: inline-block;background: #FFFFFF;padding: 10px;margin: 10px">
            <img style="width: 150px;height: 150px" src="{{ vich_uploader_asset(userPost, 'imageFile') }}">
            <br>Описание: {{ userPost.description }}
            <p style="color: darkred">Нравится  : {{ userPost.likers.count }}</p>
        </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
